{% extends 'base.html' %}
{% block content %}
  <h1>Announcement details</h1>
  <div class="card mb-3">
    <div class="card-body">
      <div class="embedly-card">
        <h2 class="card-title"><a href="#">{{ announcement.title }}</a></h2>
        <h5 class="card-title"><a href="#">{{ announcement.category }}</a></h5>
        <p class="embedly-card">{{ announcement.text|safe }}</p>
        <p class="card-text">
          <small class="text-muted">Created by {{ announcement.user.username }} at {{ announcement.created|date:'Y-m-d H:i' }}</small>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
